@{
    ViewData["Title"] = "Ficha de Equipamento";
}

<h1>@ViewData["Title"]</h1>

<p>Em desenvolvimento...</p>
<div class="alert alert-primary" role="alert">
    Um simples alerta primary. Olha só!
</div>