@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <p class="display-4">Kollmorgen Assistance Manager</p>
    <p>
        O sistema KAM foi desenvolvido para a equipe da assistência técnica da Kollmorgen Brasil.
        A ferramenta tem como objetivo, automatizar e gerenciar os processos internos dentro do
        departamento.
    </p>
    <p>
        Com essa ferramenta podemos emitir laudos técnicos, preencher fichas de reparo, 
        rastrear produtos, criar relatórios e gerar orçamentos. Acesse os menus
        na barra de navegação para visualizar a ferramenta que deseja utilizar.
    </p>
    <hr class="my-4">
    <p>Para mais informações sobre a Kollmorgen, acesse nosso <a href="https://www.kollmorgen.com/">site</a></p>

</div>
